

h1{
    font-size: clamp(2rem,3vw,4rem);
    text-align: center;
   
    

}
form{
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    position: relative;
    margin-bottom: 1100px;


}
form>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding-block: 40px;
    gap: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    border-radius: 10px;

}

.wave-group {
  position: relative;
  width: 80%;
  display: flex;
  
  
}

 .input  {
  font-size: 1em;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  height: 20px;
  
  background: transparent;
  border: 1px solid;
  border-color:#0A8D47;
  border-radius: 2px;
  
  
}
.reda{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filiereetu{
    background: transparent;
    border: 1 solid;
    border-color:#0A8D47;
    border-radius: 2px;
    width: 80%;
    height: 40px;
      font-size: clamp(0.9rem,0.8vw,2rem);

}
.filiere:focus{
    outline: none;
    cursor: pointer;
}
.wave-group .input:focus {
  outline: none;
  
  
}

.wave-group .label {
  
      font-size: clamp(0.9rem,0.8vw,1rem);

  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 28%;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-25px);
      font-size: clamp(0.9rem,0.9vw,1rem);
  color: #0A8D47;
  z-index: 100;
  background-color: white;
}

.typeemprunt{
    
    height: 40px;
    border:1px solid #0A8D47;
      font-size: clamp(0.9rem,0.8vw,2rem);
    background: none;
    width: 400px;
    max-width: 30vw;
}
.option{
    font-size: clamp(0.7rem,1vw,3rem);
    width: 70%;

}
#atphone{
    color: rgb(255, 255, 255);
    text-decoration: none;
    min-width: 135px;
    height: 45px;
    background-image: linear-gradient(90deg,#0A8D47,#144B24);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: bolder;
    font-size: clamp(0.8rem, 4vw, 1.4rem);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    border: none;
    padding-inline: 20px;
}
#atphone:hover{
    cursor: pointer;
}
#atphone>img{
    width: 20px;
}
#divat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-inline: 20px;

}
h3{
        font-size: clamp(0.8rem,1vw,3rem);
        width: 50%;

}
form>div>div:first-child{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
form>div>div>h2{
    font-size: clamp(1.3rem,2vw,3rem);

}
form>div>div>img{
    width: 70px;
    
}
#black{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    position: fixed;
    z-index: 100;
    top: 0;
}

#success{
    position: fixed;
    z-index: 200;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 90%;
    padding: 0px 0px 20px 0px;
    max-width: 500px;


}
#success>div{
    width: 97%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2%;
}
#success>div>img{
    width: 20px;
}
#success>img{
    width: 100px;
}
#success>h2{

}
#success>p{
    text-align: center;
}
h4{
        font-size: clamp(1rem,1.3vw,3rem);

}
